body {
    background-image: url('../media/sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

img {
    size: 10px;
    width: 30px;
}

.container {
    background-color: black;
    border-radius: 10px;
    margin: 250px auto;
    max-width: 30%;
    min-height: 100px;
    padding: 50px;
}

.searchBar {
    border-radius: 40px;
    border: none;
    border: 0;
    width: 75%;
    height: 30px;
    font-size: 22px;
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 10px;
    float: left;
}

.button {
    border-radius: 1000px;
    background-color: rgb(66, 66, 66);
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.weatherIn,
.degree {
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}

.degree {
    letter-spacing: 3px;
}

.estate {
    padding-left: 10px;
}

.humidity,
.windSpeed {
    padding: 10px;
    margin: 5px;
}

.icon {
    padding: 15px;
    padding-right: 5px;
    margin: 5px;
    size: 10px;
}

.description {
    transition: 2s;
    color: white;
}